.button {
    background-color: #D4D4D4;
    color: #FFFFFD;
    float: right;
    padding: 1px;
	height:100%;
	width:100%;
	color:#0000EE;
	font-size=10;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	}
.#input{
width:300px;
height=10px;
}	
#SearchButton {
border: 0;
background: url('images/system-search.png') 0 0 no-repeat;
width: 16px;
height: 18px;
vertical-align: top;
margin-top: 7px;
cursor: pointer;
-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease;
}
#Search:after {
content: "";
display: block;
_zoom: 1;
clear: both;
}